# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build
build/
dist/

# Cache
.cache/
.pytest_cache/

# Outputs
outputs/evaluation_logs/

# Embeddings
datasets/embeddings/

# Temporary Files
*.tmp
*.bak
datasets/شرح القانون المدني_عبدالرزاق السنهوري/اصول_القانون_السنهوري_مروان_الروقي.pdf
datasets/شرح القانون المدني_عبدالرزاق السنهوري/10- التأمينات الشخصية و العينية.pdf
datasets/شرح القانون المدني_عبدالرزاق السنهوري/10 - نظر الدعوي.pdf
datasets/شرح القانون المدني_عبدالرزاق السنهوري/8- حق الملكية.pdf
datasets/شرح القانون المدني_عبدالرزاق السنهوري/9- أسباب كسب الملكية.pdf
datasets/شرح القانون المدني_عبدالرزاق السنهوري/7-2 عقود الغرر و عقد التأمين.pdf
datasets/شرح القانون المدني_عبدالرزاق السنهوري/6-2- العقود الواردة على الإنتفاع بالشيء الإيجار و العارية- المجلد الثاني العارية.pdf
datasets/شرح القانون المدني_عبدالرزاق السنهوري/6-1  العقود الواردة على الإنتفاع بالشيء الإيجار و العارية- المجلد الأول الإيجار.pdf
datasets/شرح القانون المدني_عبدالرزاق السنهوري/5- باقي العقود التي تقع على الملكية.pdf
datasets/شرح القانون المدني_عبدالرزاق السنهوري/4- العقود التي تقع على الملكية البيع.pdf
.gitignore
datasets/شرح القانون المدني_عبدالرزاق السنهوري/3- نظرية الإلتزام بوجه عام الأوصاف ، الحوالة ، الإنقضاء.pdf
datasets/شرح القانون المدني_عبدالرزاق السنهوري/03 - الصفة والمصلحة في الدعوي.pdf
.gitignore
datasets/شرح القانون المدني_عبدالرزاق السنهوري/1-   نظرية اللتزام بوجه عام مصادر الإلتزام.pdf
datasets/شرح القانون المدني_عبدالرزاق السنهوري/2- نظرية الإلتزام بوجه عام  الإثبات- آثار الإلتزام.pdf
