# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build
build/
dist/

# Cache
.cache/
.pytest_cache/

# Outputs
outputs/evaluation_logs/

# Embeddings
datasets/embeddings/

# Temporary Files
*.tmp
*.bak
